# Puerto del servidor backend
PORT=5000
NODE_ENV=production

# 1. Base de datos del Sistema de Asistencias (Almacena asistencias, horarios, qr, estudiantes, matriculas)
DATABASE_URL=postgres://usuario:password@host:puerto/bdcent?sslmode=require
DATABASE_URL_ASISTENCIAS=postgres://usuario:password@host:puerto/bd-asistencia-estudentdocent?sslmode=require

# 2. Base de datos del Sistema de Monitoreo (Para consultar usuarios, docentes y roles al autenticar)
DATABASE_URL_MONITOREO=postgres://usuario:password@host:puerto/tdb?sslmode=require

# (Opcional) Base de Datos local de respaldo (solo si no se usan las URLs en la nube)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=bd_asistenciasIE
DB_PASSWORD=tu_password_postgres
DB_PORT=5432

# Secreto para firma de tokens JWT
JWT_SECRET=tu_clave_secreta_jwt_aqui
